![title](Img/CoffeImage.jpg)

I was asked  to organise a Coffee Connect where two different people from an organisation meet evey week for a chat.

The code had to take account of:
- a previous list of couples who already met, since the scheme has already started in a manual way
- the possibility of people joining in or dropping out of the scheme

In [1]:
import pandas as pd
import random
import csv

In [2]:
Active_df = pd.read_csv('ActiveExample.csv') #list of people in the schem,e this can vary weekly but must be an 
                                            # even number so add a blank person if needed to create a couple
Active_df

       Person
0      Andrew
1       Emily
2       Niamh
3       Relve
4      Fareed
5        Emma
6      Jushna
7       David
8       Kevin
9    Cordelia
10        Liz
11    Matthew
12      James
13    Shivali
14       Mary
15      Harry
16        Emi
17    Eleanor
18  Elizabeth
19      Sarah

In [3]:
Active_list = Active_df['Person'].tolist()

In [4]:
Happened_df = pd.read_csv('HappenedExample.csv')   #list of matches that have already happened
happened= [(x,y)for x, y in zip(Happened_df.Person1, Happened_df.Person2)]

In [5]:
#remove element from list
def pop_random(lst):
    idx = random.randrange(0, len(lst))
    return lst.pop(idx)

In [6]:
# Draw randomly fromm the active_list. If the pair (or its reverse) is in the happened the persons goes back into the 
#active list otherwise it forms a pair, until the active_list is exhausted
pairs = []
while Active_list:
    rand1 = pop_random(Active_list)
    rand2 = pop_random(Active_list)
    pair = rand1, rand2
    inverse_pair = tuple(reversed(pair))
    if pair in happened or inverse_pair in happened:
        Active_list.append(rand1)
        Active_list.append(rand2) #back in list
    else:
        pairs.append(pair) # in pairs  

print(pairs)

[('Kevin', 'Jushna'), ('Shivali', 'Matthew'), ('Harry', 'Niamh'), ('Emi', 'Sarah'), ('Emily', 'Eleanor'), ('Mary', 'Fareed'), ('Relve', 'Emma'), ('Andrew', 'Cordelia'), ('David', 'Elizabeth'), ('Liz', 'James')]

In [7]:
pairs_df = pd.DataFrame(pairs, columns=['Person1','Person2'])   
pairs_df

   Person1    Person2
0    Kevin     Jushna
1  Shivali    Matthew
2    Harry      Niamh
3      Emi      Sarah
4    Emily    Eleanor
5     Mary     Fareed
6    Relve       Emma
7   Andrew   Cordelia
8    David  Elizabeth
9      Liz      James